flask
flask-cors
gunicorn
requests
python-dotenv
werkzeug
PyPDF2
pikepdf
PyMuPDF>=1.23.0
# PDF tooling
reportlab
Pillow>=10.0.0
pdfplumber
pdfminer.six
pdf2image
pytesseract
python-dateutil
rapidfuzz
opencv-python-headless


flask_login

# Google APIs for auth + Gmail send
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# Supabase client
supabase

# AI
openai
